#app{
    margin: 50px;
    text-align: center;
}
#app2{
    margin: 50px;
}
#app3{
    margin: 50px;
}
#app4{
    margin: 50px;
}
#app5{
    margin: 50px;
}

#app6{
    margin: 50px;
}

.class1{

    color: red;
}
.red {
    color: red;
}
